@media (max-width: 890px) {

    .card__wraper {
        align-items: flex-start;
        flex-direction: column;
    }

    .tabs-wrap {
        padding: 0 15px;
        padding-bottom: 50px;
    }

    .card__img {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        transform: translateX(0);
        background-image: url(../img/mount-mobile.png);
    }

    .bike-2 {
        background-image: url(../img/bike-2.png);
    }

    .card__info {
        width: 90%;
        padding-right: 0;
    }

    .card__char {
        padding: 0;
    }

    .action {
        padding: 0;
    }

    .action__input {
        width: 50%;
    }

    .confirm {
        padding-left: 40px;
    }
} 

@media (max-width: 750px) {
    .action__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .action__input {
        width: 90%;
        margin: 0;
        margin-bottom: 10px;
        padding: 14px 16px;
    }

    .btn {
        width: 40%;
    }

    .btn-transparent,
    .btn-bottom {
        width: 100%;
    }

    ::placeholder {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .container {
        --offset: 20px;
    }

    .btn-top {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }

    .card__info {
        width: 100%;
    }

    .card__title {
        width: 100%;
        font-size: 24px;
        line-height: 36px; 
    }

    .card__descr {
        width: 100%;
        font-size: 14px;
        line-height: 21px;
    }

    .card__border {
        margin-bottom: 30px;
    }

    .card__char {
        margin-bottom: 30px;
    }

    .card__char--title {
        display: block;
    }

    .char__list {
        height: 100%;
    }

    .char__list--item {
        font-size: 14px;
        line-height: 21px;
    }

    .char__list--item:not(:last-child) {
        margin: 0;
        margin-bottom: 15px;
    } 

    .char__list--item-2 {
        font-size: 14px;
        line-height: 21px;
    }

    .char__list--item-2:not(:last-child) {
        margin: 0;
        margin-bottom: 15px;
    } 

    .action {
        margin: 0;
        margin-bottom: 30px;
    }

    .action-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    .action__input {
        width: 100%;
        margin-bottom: 15px;
        padding: 14px 16px;
        text-align: center;
    }

    .btn {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }

    .confirm {
        padding: 30px 20px;
    }

    .confirm__list {
        justify-content: space-evenly;
    }
}

@media (max-width: 550px) {

    .tabs {
        display: none;
    }

    /*ac mobile*/

    .mobile {
        display: block;
        
    }
    
    .mobile__item {
        margin-bottom: 20px;
        padding: 22px 20px;
        border-radius: 20px;
        background-color: white;
        transition: all .3s ease-in-out;
    }
    
    .mobile__title {
        position: relative;
        display: block;
        padding: 10px 15px;
    
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        transition: all .3s ease-in-out;
    }
    
    .mobile__title::after {
        position: absolute;
        content: url("../img/arrow.svg");
        display: block;
    
       
        top: 50%;
        right: 15px;
    
        transform: translateY(-50%);
        overflow-y: hidden;
      
    }
    
    /*.faq-title:hover {
        background-color: #b91125;
    }*/
    
    .mobile__input {
        position: absolute;
        width: 0;
        height: 0;
        background-color: white;
        -webkit-appearance: none;
        appearance: none;  
        overflow-y: hidden;
    }
    
    .mobile__input:checked ~ .mobile__title {
        color: var(--purple);
        
    }
    
    .mobile__input:checked ~ .mobile__title::after {
        transform: rotate(180deg);
        top: 35%;
    }
    
    .mobile__input:checked ~ .content-1 {
        display: block;
        
    }
    .mobile__input:checked ~ .content-2 {
        display: block;
        
    }
    
    .content-1,
    .content-2 {
        display: none;
    }

}

@media (max-width: 360px) {
    .mobile__title::after {
        right: 3px;
    }
}





